upstream jenkins {
  server 127.0.0.1:8080 fail_timeout=0;
}

server {
  listen 443;
  client_max_body_size 1G;
  server_name <%="jenkins-delivery.#{node['route53_domain']}"%>;

  ssl on;
  ssl_certificate /etc/nginx/ssl/<%="jenkins-delivery.#{node['route53_domain']}"%>.pem;
  ssl_certificate_key /etc/nginx/ssl/<%="jenkins-delivery.#{node['route53_domain']}"%>.key;
  ssl_protocols TLSv1.1 TLSv1.2;

  access_log  /var/log/nginx/<%="jenkins-delivery.#{node['route53_domain']}"%>.access.log  main;
  error_log  /var/log/nginx/<%="jenkins-delivery.#{node['route53_domain']}"%>.error.log;

  location / {
    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto $scheme;
    proxy_redirect http:// https://;
    proxy_pass              http://jenkins;
  }

  location /validators {
    alias <%="#{node['jenkins']['master']['validators']}"%>;
    autoindex on;
  }
}
