<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.1">
  <actions/>
  <description>Run the chef-client on all (or a subset) of servers in an environment</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>CHEF_ENV</name>
          <description>The environment in which to run chef-client</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
            <% node['sbg_jenkins_delivery']['organisations']['all'].each do |org|%>
              <string><%=org%></string>
            <% end %>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CUSTOM_SEARCH</name>
          <description>Knife search query. See https://docs.chef.io/knife_search.html for syntax.

Examples;
  * name:web* - Selects nodes where the hostname begins with web
  * role:foobar - Selects nodes that contains foobar role
  * roles:foobar - Selects nodes that contain foobar role in the expanded run list</description>
          <defaultValue>name:*</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>EXCLUSIONS</name>
          <description>Newline delimited list of knife search terms to exclude, e.g. name:node.fq.dn</description>
          <defaultValue></defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>NOTIFY_ON_FAILURE</name>
          <description>Send notification email to given recipients.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EMAIL_RECIPIENTS</name>
          <description>A comma delimited list of email recipients to send notification emails to.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.2">
    <script>String environment = CHEF_ENV.toLowerCase()

JenkinsBuild.setDisplayName(&quot;${environment} #${currentBuild.number}&quot;)

stage name: &apos;Node Search&apos;
String query = ChefNodes.getSearchQuery(CUSTOM_SEARCH, EXCLUSIONS)

stage name: &apos;Run chef-client&apos;
Map results = ChefNodes.runChef(environment, query)

JenkinsBuild.setDescription(ChefNodes.resultSummary(results))

stage name: &apos;Archive Results&apos;

if (ChefNodes.anyErrors(results)) {
  JenkinsBuild.markAsUnstable()
}

ChefNodes.archiveResults(results) {
  if (!ChefNodes.anyErrors(results)) {
    return
  }

  if (NOTIFY_ON_FAILURE != &quot;true&quot; || EMAIL_RECIPIENTS == &quot;&quot;) {
    return
  }

  // check whether notify on failure is set and filter any invalid emails out
  def emails = EMAIL_RECIPIENTS.split(&quot;,\\s*&quot;)
  def regexStr = /\A\S+@\S+\.\S+\z/
  for (email in emails) {
    if (!email =~ regexStr) {
      println &quot;Won&apos;t be sending to ${email}. Address is invalid.&quot;
      emails = emails.minus(email)
    }
  }

  if (emails.size() &gt; 0) {
    emailext(
      attachmentsPattern: &quot;**/failure/*.txt&quot;,
      body: &apos;The following nodes failed chef-client run&apos;,
      subject: &quot;Job ${env.JOB_NAME} (${currentBuild.displayName}) had errors&quot;,
      to: emails.join(&quot;,&quot;)
    )
  }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>
