<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.1">
  <actions/>
  <description>Performs the initial Jenkins Delivery setup, creating the initial &apos;<%=node['chef_user']%>&apos; user and management environment</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.1">
    <script>stage name: &apos;Setup Jenkins&apos;
def instance = Jenkins.getInstance()
instance.setNumExecutors(5)
def user = hudson.model.User.get(&apos;admin&apos;, false)
def keysProperty = new org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl(&apos;&apos;&apos;<%=@public_ssh%>&apos;&apos;&apos;)
user.addProperty(keysProperty)
user.save()

instance = null
user = null
keysProperty = null

build &apos;UpdateGlobalLibrary&apos;

stage name: &apos;Setup Chef Server&apos;

build job: &apos;CreateChefUser&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;USERNAME&apos;, value: &apos;<%=node['chef_user']%>&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;PASSWORD&apos;, value: &apos;<%=node['chef_password']%>&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;FIRST_NAME&apos;, value: &apos;Chef&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;LAST_NAME&apos;, value: &apos;Admin&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;EMAIL&apos;, value: &apos;<%=node['chef_user']%>@nowhere.local&apos;]]

build job: &apos;PromoteChefUser&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;USERNAME&apos;, value: &apos;<%=node['chef_user']%>&apos;]]

build job: &apos;CreateChefOrg&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;ADMIN_USERNAME&apos;, value: &apos;<%=node['chef_user']%>&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;ORG_NAME&apos;, value: &apos;management&apos;],[$class: &apos;StringParameterValue&apos;, name: &apos;INTEGRATION_REPO&apos;, value: &apos;<%=node['delivery_ssh_uri']%>&apos;]]

node(&quot;master&quot;) {
stage name: &apos;Setup Chef Supermarket&apos;
sh &apos;sudo -u knife /usr/bin/scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null knife@chef-server-int.<%=node['route53_domain']%>:supermarket.json /tmp/supermarket.json&apos;
sh &apos;sudo -u knife /usr/bin/scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null /tmp/supermarket.json knife@chef-supermarket-int.<%=node['route53_domain']%>:&apos;
sh &apos;sudo -u knife /usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null knife@chef-supermarket-int.<%=node['route53_domain']%> sudo /bin/chef-client --local-mode -c /tmp/kitchen/client.rb -j  /tmp/kitchen/dna.json&apos;
}

node(&quot;master&quot;) {
    stage name: &apos;Register Management Clients&apos;
    sh &apos;sudo -u knife /usr/bin/scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null /opt/jenkins/orgs/chef-server-int.<%=node['route53_domain']%>/management.pem knife@chef-server-int.<%=node['route53_domain']%>:/tmp/validation.pem&apos;
    sh &apos;sudo -u knife /usr/bin/scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null /opt/jenkins/orgs/chef-server-int.<%=node['route53_domain']%>/management.pem knife@chef-supermarket-int.<%=node['route53_domain']%>:/tmp/validation.pem&apos;
    sh &apos;sudo -u knife sudo cp /opt/jenkins/orgs/chef-server-int.<%=node['route53_domain']%>/management.pem /etc/chef/validation.pem&apos;
    sh &apos;sudo -u knife /usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null knife@chef-server-int.<%=node['route53_domain']%> sudo /bin/cp /tmp/validation.pem /etc/chef/validation.pem&apos;
    sh &apos;sudo -u knife /usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null knife@chef-supermarket-int.<%=node['route53_domain']%> sudo /bin/cp /tmp/validation.pem /etc/chef/validation.pem&apos;
    sh &apos;sudo -u knife /usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null knife@chef-server-int.<%=node['route53_domain']%> sudo /bin/rm -f /etc/chef/client.pem&apos;
    sh &apos;sudo -u knife /usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null knife@chef-supermarket-int.<%=node['route53_domain']%> sudo /bin/rm -f /etc/chef/client.pem&apos;
    sh &apos;sudo -u knife sudo /bin/rm -f /etc/chef/client.pem&apos;

    build job: &apos;UploadChefCode&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;CHEF_ENV&apos;, value: &apos;management&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;BUILD_TAG&apos;, value: &apos;master&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;INTEGRATION_REPO&apos;, value: &apos;<%=node['delivery_ssh_uri']%>&apos;]]
    parallel clients: {
      sh &apos;sudo -u knife /usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null knife@chef-server-int.<%=node['route53_domain']%> sudo /bin/chef-client -E <%=node.chef_environment%>&apos;
      sh &apos;sudo -u knife /usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null knife@chef-supermarket-int.<%=node['route53_domain']%> sudo /bin/chef-client -E <%=node.chef_environment%>&apos;
      sh &apos;sudo -u knife /usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null knife@jenkins-delivery.<%=node['route53_domain']%> sudo /bin/chef-client -E <%=node.chef_environment%>&apos;
    }
}

build job: &apos;SetNodeRunList&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;NODE_NAME&apos;, value: &apos;chef-server.<%=node['route53_domain']%>&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;CHEF_ENV&apos;, value: &apos;management&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;RUN_LIST&apos;, value: &apos;recipe[sbg_jenkins_delivery::platform-ci-chef],recipe[sbg_jenkins_delivery::knife-target],recipe[sbg_jenkins_delivery::platform-ci-chef-client]&apos;]]
build job: &apos;SetNodeRunList&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;NODE_NAME&apos;, value: &apos;chef-supermarket.<%=node['route53_domain']%>&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;CHEF_ENV&apos;, value: &apos;management&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;RUN_LIST&apos;, value: &apos;recipe[sbg_jenkins_delivery::knife-target],recipe[sbg_jenkins_delivery::platform-ci-supermarket],recipe[sbg_jenkins_delivery::platform-ci-chef-client]&apos;]]
build job: &apos;SetNodeRunList&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;NODE_NAME&apos;, value: &apos;jenkins-delivery.<%=node['route53_domain']%>&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;CHEF_ENV&apos;, value: &apos;management&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;RUN_LIST&apos;, value: &apos;recipe[sbg_jenkins_delivery::install-git],recipe[sbg_jenkins_delivery::platform-ci-rubygems],recipe[sbg_jenkins_delivery::platform-ci-docker],recipe[sbg_jenkins_delivery::platform-ci-jenkins],recipe[sbg_jenkins_delivery::knife-user],recipe[sbg_jenkins_delivery::platform-ci-chef-client]&apos;]]

stage name: &apos;Execute Chef Client&apos;
build job: &apos;ChefClient&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;CHEF_ENV&apos;, value: &apos;management&apos;], [$class: &apos;StringParameterValue&apos;, name: &apos;EXCLUSIONS&apos;, value: &apos;&apos;]]
</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>
