<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Updates the Pipline global library from disk&#xd;
&#xd;
https://github.com/jenkinsci/workflow-cps-global-lib-plugin</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/env bash
# The Jenkins ssh port is configured in Jenkins global configuration
# I don&apos;t know how to get the port number without hardcoding it
JENKINS_SSHD_PORT=8088

cd /opt/jenkins/workflow-libs
if [ ! -d &quot;.git&quot; ]; then
  git init
  git remote add -f local ssh://admin@localhost:$JENKINS_SSHD_PORT/workflowLibs.git
fi

git add -A . || true
git commit -m &quot;Push libraries&quot; || true
git push -f local master</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
